{% extends "bootstrap/base.html" %}
{% block content %}

<h1>分析結果!</h1>
<a href="/" role="button">日記</a>
<div id="chart" class="chart"></div>
<div>{{description}}</div>
    <a href="/create" role="button">書く？</a>
    <a href="/logout" role="button">またね？</a>  
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/js/analysis.js"></script>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});        
</script>

{% endblock %}

